body {
  padding: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.redd.it/ojkrcacp41p61.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  background-color: rgb(11, 0, 58);
  border-radius: 12px;
  width: 75%;
}

section {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(56, 0, 129);
  box-shadow: -1px -11px 17px 4px rgb(1, 217, 255);
}

.project-title {
  margin-left: 25px;
  color: rgb(1, 217, 255);
  text-align: center;
  margin-bottom: 35px;
}

.title {
  font-size: 1.2em;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  color: rgb(56, 0, 129);
}

#scorehead {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: flex-start;
  margin: 5px  auto;
}

#scoreBlock {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 12px;
  height: 250px;
  overflow-y: scroll;
}

#refresh {
  height: 20px;
  margin-left: 7px;
  border: 2px solid rgb(56, 0, 129);
  border-radius: 12px;
  color: rgb(56, 0, 129);
}

table {
  width: 100%;
  padding: 5px;
}

input {
  margin: 10px;
}

#add {
  margin: 0;
  padding: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  border-radius: 12px;
}

.in {
  display: flex;
  flex-direction: column;
}

#btsubmit {
  border-radius: 12px;
  border: 2px solid rgb(56, 0, 129);
}

/* //Mobile version  */

@media screen and (width < 768px) {
  section {
    flex-direction: column-reverse;
  }

  #add {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
  }

  #scoreBlock {
    width: 100%;
  }
}
